body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #242e42;
}

a {
  color: #91a0b2;
}
a:hover, a:focus {
  text-decoration: none;
  color: #1f8efa;
}

.container {
  background: #242e42;
  color: #91a0b2;
}
@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}

.mainheader {
  border-bottom: 1px solid #20293b;
}

.mainheader--hamburger {
  right: 0;
  height: 100%;
  border: 1px solid #20293b;
  border-bottom: 0;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.mainheader--hamburger:hover, .mainheader--hamburger:focus, .mainheader--hamburger.current {
  background: #20293b;
}

.sidebar--avatar img {
  border-radius: 50%;
}
.sidebar--avatar a {
  color: #5b6d82;
}
.sidebar--avatar a:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1rem;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #1f8dfa transparent transparent transparent;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}
.sidebar--avatar a.open:after {
  transform: rotate(-180deg);
}

.sidebar--nav-link {
  padding-left: 3.5rem;
  border-radius: 0 0.4rem 0.4rem 0;
  -webkit-transition: background-color 0.5s ease, color 0.4s ease;
  -moz-transition: background-color 0.5s ease, color 0.4s ease;
  -ms-transition: background-color 0.5s ease, color 0.4s ease;
  -o-transition: background-color 0.5s ease, color 0.4s ease;
  transition: background-color 0.5s ease, color 0.4s ease;
}
.sidebar--nav-link:hover:before, .sidebar--nav-link:focus:before, .sidebar--nav-link.current:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 6px solid #1f8efa;
}
.sidebar--nav-link:hover svg, .sidebar--nav-link:focus svg, .sidebar--nav-link.current svg {
  color: #1f8efa;
}
.sidebar--nav-link.current {
  color: #1f8efa;
  background: #20293b;
}
.sidebar--nav-link svg {
  color: #5b6d82;
  left: -1.75rem;
}
